.navbar  {
    background-color: #2C3E50 !important;
    
}
.logo {
    color: #fff !important;
}
.navbar li .nav-link {
    color: #fff;
}

.active {
    color: #fff !important;
    background-color: #1ABC9C !important;
    border-radius: 10px;
}